#text{
  color: blue;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
}

.text-1{
  color: green;
}


.color-text{
  color: blue;
  font-size: 10px;
  transition: 1s color, 3s font-size;
}

.color-text:hover{
  color: red;
  font-size: 20px;
}